
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
                <div id="user-data" formGroupName="userData1">
                    <div class="form-group">
                        <label for="username1">Username</label>
                        <input type="text" id="username1" 
                        [formControlName]="'username'"
                        class="form-control" placeholder="* Enter your username" autofocus="on">

                        <span 
                        *ngIf="!signupForm.get('userData1.username').valid && signupForm.get('userData1.username').touched">
                            <span class="help-block text-danger"
                            *ngIf="signupForm.get('userData1.username').errors['userNameIsForbidden']">
                        User name is forbidden, choose something else</span>
                            <span class="help-block text-danger"
                            *ngIf="signupForm.get('userData1.username').errors['required']">
                            Please enter a user name</span>
                        </span>

                    </div>
                    <div class="form-group">
                        <label for="email1">Mail</label>
                        <input type="email" id="email1" 
                        formControlName="email"
                        class="form-control" placeholder="* Enter your email" autocomplete="on">

                        <span class="help-block text-danger" 
                        *ngIf="!signupForm.get('userData1.email').valid && signupForm.get('userData1.email').touched">
                        Please enter a valid email!</span>

                    </div>
                </div>
                
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input 
                        type="radio"
                        formControlName="genderOptn"
                        [value]="gender">
                        {{gender}}
                    </label>
                </div>

                <div formArrayName="hobbies">
                    <h3>Your hobbies</h3>
                    <button class="btn btn-outline-success" type="button" (click)="onAddHobbies()">Add Hobby</button>
                    
                    <hr *ngIf="spaceNeeded">
                    <div class="form-group" 
                    *ngFor="let hobbycontrol of signupForm.get('hobbies').controls; let i=index">
                        <input
                        type="text" class="form-control" placeholder="* Type your hobby"
                        [formControlName]="i">
                    </div>
                </div>
                <span class="help-block text-danger" 
                        *ngIf="!signupForm.valid && signupForm.touched">
                        (* indicates required field)</span>
                <br>
                <div>
                    <button class="btn btn-outline-primary" 
                    type="submit" [disabled]="!signupForm.valid">
                    Submit</button>
                </div>
            </form>
            </div>
        </div>

        <!-- <div *ngIf="isSubmited">
            <hr>
            <h3>Your information</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p>Username: {{user.name}}</p>
                    <p>E-mail: {{user.email}}</p> 
                    <p>Gender: {{user.gender}}</p> 
                    <p>Your Question: {{user.qtn}}</p>
                    <p>answer: {{user.answer}}</p>
                </div>
            </div>
        </div> -->
    </div>
    